/*
 * Paperight, styles by Arthur Attwell (arthurattwell.com)
 */

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* 
 * Structure 
 */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 140%;
	background-color: #0084A9;
	color: white;
}
#wrapper{
	clear: both;
	max-width: 45rem;
	margin: auto;
	padding: 0 0.3em 0 0.3em;
}
#footer {
	margin: 4rem 0 0 0;
	padding: 1em 0.3em 2em 0.3em;
	background-color: white;
}
.footer-content {
	clear: both;
	max-width: 45rem;
	margin: auto;
	color: grey;
}

/* 
 * General typography 
 */
 
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	line-height: 120%;
	page-break-after: avoid;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
h1 {
	font-size: 3em;
	max-width: 80%;
	line-height: 100%;
}
h2 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
h3 {
	margin: 1.5em 0 0.5em 0;
	padding-top: 0.5em;
}
p {
	margin: 0 0 0.5em 0;
}
li p {
	margin: 0;
}
blockquote {
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em 1em 0.5em 1em;
	line-height: 120%;
	border-left: 5px solid #ddd;
	max-width: 35em;
}
blockquote.shout {
	font-size: 1.5em;
	max-width: 20em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
li blockquote {
	margin: 1em 0;
}
dl {
	color: #666;
	border: 1px solid grey;
	padding: 1em;
}
dt {
	margin: 0 0 0.25em 0;
	font-weight: 600;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
pre, code {
	font-family: "Source Code Pro", monospace;
	white-space: pre-wrap;
	background-color: #f9f9f9;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	font-weight: 200;
	font-size: 0.9em;
}
a {
	color: white;
}
a:hover {
	color: inherit;
}
a.button {
	display: block;
	max-width: 10em;
	text-align: center;
	padding: 0.5em;
	border-radius: 0.2em;
	background-color: #5f738c;
	color: white;
	margin: 0.5em 0 0 0;
}
a.button:hover {
	background-color: silver;
}
em.highlight {
	font-style: normal;
	background-color: #8ABB27;
	padding: 0.1em 0.25em 0.1em 0.2em;
	border-radius: 0.2em;
}

/*
 * IMAGES
 */

.logo {
	margin: 2em 0 2em 0;
}
.logo img {
	width: 7em;
}
#footer img {
	max-width: 100%;
}
